{% extends "base.html" %}

{% block title %}Liste des posts{% endblock %}

{% block content %}
  {% if posts %}
    {% for post in posts %}
      <article>
        <header>
          <h1>{{ post.title }}</h1>
          <time>Créé le {{ post.created_at|date:"d/m/Y H:i" }}</time>
        </header>
        <p>{{ post.content }}</p>
        <div>
          <a href="{% url 'post_edit' post.pk %}" class="confirm">Modifier</a>
          <a href="{% url 'post_delete' post.pk %}" class="delete">Supprimer</a>
        </div>
      </article>
    {% endfor %}
  {% else %}
    <p>Aucun post pour le moment. 😢</p>
  {% endif %}
{% endblock %}